*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

ul,ol{
	margin: 0;
	padding: 0;
}

.container{
	max-width: 1170px;
	margin: 0 auto;
}

.img_responsive{
	max-width: 100%;
	display: block;
	margin: 0 auto;
}

.fleft{
	float: left;
}

.fright{
	float: right;
}

/* START */
header{
	position: sticky;
	top: 0;
	padding: 10px;
	text-align: center;
	border: 1px solid #000;
	background-color: #fff;
	margin-top: 20px;
}

section{
	padding: 50px 0;
}